* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

@media screen and (min-width: 1900px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 12px;
  }
}
